<f:layout name="backend" />

<f:section name="content">
	<h3>Open Approvals</h3>
	<f:if condition="{users}">
		<f:then>
			<table class="table table-hover table-condensed">
				<tr>
					<th>Actions</th>
					<th>UID</th>
					<th>Created</th>
					<th>Username</th>
					<th>Location</th>
					<th>E-Mail</th>
					<th>Firstname</th>
					<th>Lastname</th>
				</tr>
				<f:for each="{users}" as="user">
					<tr>
						<td>
							<div class="btn-group">
								<f:link.action action="approveUser" arguments="{user: user}" class="btn btn-primary btn-sm"><i class="fa fa-check"></i></f:link.action>
								<f:link.action action="declineUser" arguments="{user: user}" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></f:link.action>
							</div>
						</td>
						<td>{user.uid}</td>
						<td><f:format.date format="d.m.Y - H:i:s">{user.crdate}</f:format.date></td>
						<td>{user.username}</td>
						<td>{user.location}</td>
						<td><f:link.external target="_blank" title="Open in {user.emailDomain} new window" uri="{user.emailDomain}">{user.email}</f:link.external></td>
						<td>{user.firstName}</td>
						<td>{user.lastName}</td>
					</tr>
				</f:for>
			</table>
			<h4>Recommendations</h4>
			<table class="table table-hover table-condensed">
				<tr class =""></tr>
			</table>
		</f:then>
		<f:else>
			<p>No open approvals</p>
		</f:else>
	</f:if>


</f:section>
